$body-bg: #f5f5f5;
$main-bg: #fff;
$border-color: #000;
$shadow-color: #88888880;
$header-color: #226699;
$link-color: #4169e1;
$link-hover: #d08504;
$remove-button: #ff4500;
$font-color: #000;
$inverse-font-color: #fff;
$go-button: #32cd32;
